<html>

<link rel="stylesheet" type="text/css" href="/css/base.css">

<body>

<header>
    <h1>Complaining Commuter</h1>
    <hr size="4" color="black">
    <img src="img/subway.jpg" alt="Image 2" height="350" width="550">
    <hr size="4" color="black">
</header>

{{{body}}}

<footer>
    <hr size="4" color="black">
    <a href='/'>Home</a>
    <p style="display:inline"> | </p>
    <a href='/complain'>Complain!</a>
    <p style="display:inline"> | </p>
    <a href='/stats'>Stats</a>
</footer>

</body>
</html>