<body>

<link rel="stylesheet" type="text/css" href="css/base.css">

<h3>Add A Complaint!</h3>

<form method="POST" action="">
    <p>Subway Line: </p>
    <input type="text" name="Line">
    <p>Complaint: </p>
    <input type="text" name="Complaint">
    <input type="submit" value="Complain!">
</form>

</body>