<body>


<link rel="stylesheet" type="text/css" href="css/base.css">

<h3>Complaints List</h3>

<form method="POST" action="">
    <p> Subway Line Filter: </p>
    <input type="text" name="Line">
    <input type="submit" value="Search">
</form>

<nav>
    {{#each array}}
        <div>
            <font color="#006400" size="6">
                {{_view.contentIndex}}{{this.Line}}
            </font>

            <span>{{_view.contentIndex}}{{this.Complaint}}</span>
        </div>
    {{/each}}
</nav>

</body>